* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(https://images3.alphacoders.com/273/273289.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (min-width: 380px) {
    body {
        background-color: white;
    }
}

.content {
    padding: 1rem;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}